@import "../../main/style/colors";

.PokemonTable {
  padding: 50px 100px 50px 100px;

  .page-numeration {
    width: 100%;
    text-align: center;
  }

  .pager-custom {
    display: inline-block;
  }

  .table > thead > tr > th {
    border-bottom: 2px solid #DEDEDE;
  }

  .table > thead > tr > th, .table > tbody > tr > th,
  .table > tfoot > tr > th, .table > thead > tr > td,
  .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
  }

  tr {
    height: 113px;
    &:hover {
      background-color: #D6D6D6;
    }
  }

  thead > tr:hover {
    background-color: inherit;
  }

  td {
    vertical-align: middle;
  }

  .pagination > .active > a, .pagination > .active > span,
  .pagination > .active > a:hover, .pagination > .active > span:hover,
  .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: $red;
    border-color: $red;
    color: white;
  }

  .pagination > li > a, .pagination > li > span {
    color: $red;
  }

  img {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
  }

  img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}