@import "colors";

body {
  margin: 0;
  position: relative;
  padding: 0 0 110px;
  min-height: 100%;
  background-color: $light_grey;
  color: black;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}