@import "colors";

.Footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 40px;
  background-color: $grey;
  font-size: 14px;
  clear: both;
  color: white;
  p {
    text-align: center;
    font-weight: 700;
  }
  a {
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    color: red;
  }
}