@import "colors";

.Header {
  min-height: 100px;
  background-color: $red;
  padding: 20px;
  .pokemon {
    font-weight: bold;
    font-size: 36px;
    color: white;
    text-decoration: none;
  }
}