@import "../../main/style/colors";
$pokeball: "https://cdn4.iconfinder.com/data/icons/longico/224/longico-23-16.png";

.PokemonForms {
  padding-top: 10px;

  h4 {
    text-transform: uppercase;
    font-weight: bold;
  }
  ul {
    list-style-image: url($pokeball);
    font-size: 16px;
  }

  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: $red;
    }
  }
}