@import "../../main/style/colors";
.PokemonPage {
  padding: 50px;
  min-height: 300px;

  .row {
    padding-bottom: 30px;
  }
  img {
    float: left;
  }

  .back-button {
    margin-left: 15px;
    margin-right: 30px;
    color: white;
    background: $red;
    text-decoration: none;
    border-radius: 1rem;
    padding: 10px 25px;
    border: 2px solid $red;
    font-weight: 900;
    letter-spacing: 0.1em;
    font-size: 12px;
    text-transform: uppercase;
    transition: all 400ms;
  }

  h2 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }
}